*{margin: 0; padding: 0;}
body{
	background-color: black;
	color: #ffffff !important
}
font{
	color: #ffffff !important

}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    height:auto;
    display:block;
	z-index:999;
	transition: transform .2s;
	transform: scale(1.5)
}
.thumbnail {
	transition: transform .2s;
	transform: scale(1)
}
