*{margin: 0; padding: 0;}
body{
	background-color: black;
	color: #ffffff 
}
font{
	color: #ffffff 
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    height:auto;
    display:block;

	transition: transform .2s;
	transform: scale(1.5)
}

.thumbnail {
	transition: transform .2s;
	transform: scale(1)
}

ul {
	 position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	z-index:999;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }

  .active {
	background-color: rgb(70, 108, 214);
	color: white;
  }